:root {
  --mainblue: #197170;
  --maingreen: #429d2e;
}

* {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  color: var(--mainblue);
}

body {
  display: flex;
  flex-wrap: wrap;
}

nav {
  padding: 1rem;
}

header {
  flex-basis: 100%;
  display: flex;
  border-bottom: lightgrey solid 1px;
}

header h1 {
  font-size: 2.5em;
  box-sizing: initial;
  flex-basis: 70%;
}

header nav {
  display: flex;
  align-items: flex-end;
  text-align: right;
  flex-basis: 30%;
}

header nav ul {
  display: flex;
  text-align: right;
  align-items: flex-end;
  list-style: none;
}

header nav ul li {
  margin: 0 0.5em;
}

body > nav {
  flex-basis: 20%;
  padding: 0;
  /* background-color: var(--maingreen); */
}

body > nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body > nav > ul > li > a {
  display: block;
  /* color: white; */
  color: var(--mainblue);
  padding: 16px;
  text-decoration: none;
}
body > nav > ul > li > a:hover {
  color: white;
  background-color: var(--mainblue);
}

main {
  flex-basis: 80%;
  padding: 1rem;
}

main h1 {
    color: var(--mainblue);
}

footer {
  flex-basis: 100%;
}

footer nav ul {
  text-align: center;
}
footer nav ul li {
  list-style-image: none;
  display: inline;
}
